name: Publish
on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Install just
        uses: taiki-e/install-action@v2
        with:
          tool: just

      - run: just prepare

      - name: Publish package
        run: npx jsr publish
